* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #f41983 0.52%, #f41983 100%);
    --secondaryGradient: linear-gradient(268.91deg, #f41983 -2.14%, #f41983 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #f41983;
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



/* home css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Dela+Gothic+One&family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Montserrat:wght@800&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 15vh;
    background-image:'bg.png';
    box-shadow: 3px 3px 5px 6px #ccc;
}
.img img{
    height: 60px;
    margin-left: 150px;
    width: 60px;
    margin-top: 15px;
}
.logo 
{
    margin-left: 220px;
    font-family: 'Montserrat',sans-serif;
    margin-top: -45px;
}
.logo h4{
    font-size: 24px;
}
nav ul{
    float: right;
    display: flex;
    margin-right: 90px;
}
nav ul li
{
    padding: 0px 30px;
    list-style: none;
    margin-top: -25px;
}
nav ul li a
{
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    color: black;
}
nav ul li a:hover
{
    color: rgb(177,63,81);
}
.icons
{
    margin-top: -25px;
}
.icons a
{
    color: black;
    padding: 0px 19px;
}
.main
{
    background: white;
    width: 60%;
    height: 100%;
}
.akira img
{
    height: 80%;
    margin-top: 30px;
    float: right;
    width: 60%;
}
.love
{
    margin-top: 250px;
    margin-left: 150px;
}
.love h5
{
    font-size: 20px;
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.love h2{
    font-size: 39px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bolder;
    margin-top: 5px;
}
span
{
    color: rgb(177,63,81);
   
}
.love p
{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    margin-top: 5px;
    
}
.btn
{
    margin-left: 150px;
    margin-top: 30px;
}
.btn a{
    padding: 20px 40px;
    background: black;
    color:whitesmoke;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
}
.btn a:hover
{
    background: rgb(177,63,81);
}